USE [SalesOrder]
GO
/****** Object:  Table [dbo].[COM_CUSTOMER]    Script Date: 2/4/2025 6:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COM_CUSTOMER](
	[COM_CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_COM_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[COM_CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SO_ITEM]    Script Date: 2/4/2025 6:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_ITEM](
	[SO_ITEM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SO_ORDER_ID] [bigint] NOT NULL,
	[ITEM_NAME] [nvarchar](100) NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[PRICE] [float] NOT NULL,
 CONSTRAINT [PK_SO_ITEM] PRIMARY KEY CLUSTERED 
(
	[SO_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SO_ORDER]    Script Date: 2/4/2025 6:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_ORDER](
	[SO_ORDER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDER_NO] [nvarchar](20) NOT NULL,
	[ORDER_DATE] [datetime2](7) NOT NULL,
	[COM_CUSTOMER_ID] [int] NOT NULL,
	[ADDRESS] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SO_ORDER] PRIMARY KEY CLUSTERED 
(
	[SO_ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SO_ITEM] ADD  DEFAULT (CONVERT([bigint],(-99))) FOR [SO_ORDER_ID]
GO
ALTER TABLE [dbo].[SO_ITEM] ADD  DEFAULT ((-99)) FOR [QUANTITY]
GO
ALTER TABLE [dbo].[SO_ITEM] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [PRICE]
GO
ALTER TABLE [dbo].[SO_ORDER] ADD  DEFAULT ('1900-01-01') FOR [ORDER_DATE]
GO
ALTER TABLE [dbo].[SO_ORDER] ADD  DEFAULT ((-99)) FOR [COM_CUSTOMER_ID]
GO
ALTER TABLE [dbo].[SO_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_SO_ITEM_SO_ORDER_SO_ORDER_ID] FOREIGN KEY([SO_ORDER_ID])
REFERENCES [dbo].[SO_ORDER] ([SO_ORDER_ID])
GO
ALTER TABLE [dbo].[SO_ITEM] CHECK CONSTRAINT [FK_SO_ITEM_SO_ORDER_SO_ORDER_ID]
GO
ALTER TABLE [dbo].[SO_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_SO_ORDER_COM_CUSTOMER_COM_CUSTOMER_ID] FOREIGN KEY([COM_CUSTOMER_ID])
REFERENCES [dbo].[COM_CUSTOMER] ([COM_CUSTOMER_ID])
GO
ALTER TABLE [dbo].[SO_ORDER] CHECK CONSTRAINT [FK_SO_ORDER_COM_CUSTOMER_COM_CUSTOMER_ID]
GO
